{
    "url": "https://url.com",
    "items": [
        {
            "date": "02.05.2023",
            "index": 4
        },
        {
            "date": "03.05.2023",
            "index": 4
        }
    ]
}